.layout {
  height: 100vh;

  .body {
    overflow: hidden;
  }

  .slider {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .button {
      width: 45px;
      height: 45px;
      margin-bottom: 2px;
    }
  }

  .content {
    border-top-left-radius: 6px;
    background-color: var(--color-bg-1);
  }
}

.icon {
  font-size: 25px;
  vertical-align: text-bottom;
  color: var(--color-text-2);
}

.header {
  -webkit-app-region: drag;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;

  .actions {
    height: 100%;

    :global {
      .arco-space-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
