.wrapper {
  --rmr-color-text: var(--color-text-1);

  :global {
    .remirror-editor-wrapper {
      padding-top: 0;
      height: 100%;

      .ProseMirror {
        height: 100%;
        box-shadow: none !important;
      }
    }
  }
}
