.container {
  height: 100%;
}

.round {
  :global(.arco-input-inner-wrapper) {
    border-radius: 16px;
  }

  svg {
    font-size: 16px;
  }
}


.header {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list {
  padding: 0 12px;
}
