.container {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    gap: 8px;

    .round {
      :global {
        .arco-input-inner-wrapper {
          border-radius: 16px;
        }
      }

      svg {
        font-size: 16px;
      }
    }
  }

  .list {
    flex: 1;
    padding: 0 12px;
  }

  .back-head {
    display: flex;
    margin: 8px 20px;
    position: relative;
    justify-content: center;
    align-items: center;

    .back {
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }
}
